.card-item {
  max-width: 250px;
  margin: 10px 10px 10px;
}

.card-container {
  margin: 15px 15px 15px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pagination-content{
  display: grid;
  justify-content: center;
}